# Largely inspired by https://github.com/github/gitignore

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.swp

# Dev configs
.editorconfig
.eslintrc.json
.gitattributes
.travis.yml
tslint.json

# Dev artifacts
.tested
commitlint.config.js
plantuml
test
trees
tsconfig.*
*.map

# Pack artifacts
mute-structs-*.tgz
